<nav class="primary-menu">
  <div class="menu__list__wraper">
    <input type="checkbox" id="menuVisibilityCheckbox">
    <div class="menu__list__icon__wrapper">
       <label for="menuVisibilityCheckbox">
         <i class="material-icons menu__list__icon">menu</i>
      </label>
    </div>
    <ul class="menu__list">
      <li class="menu__item" *ngFor="let page of menuPages"
          (click)="changePage(page)"
          [ngClass]="{ 'menu__item--selected': (selectedPage$ | async).path === '/' + page.url, 'menu__item--visible': page.url === 'search' || serverOnline} "
          >
      {{ page.title }}
      </li>
    </ul>
  </div>
  <div class="menu__search__container" *ngIf="(selectedPage$ | async).path === '/search'">
    <input [formControl]="searchForm" type="search" class="menu__search__input text-input" placeholder="Find your favorite recipe" (keydown)="initSearchOnEnter($event)" />
    <button class="menu__search__button btn btn-primary" (click)="search()">
      <i class="material-icons menu__search__icon">arrow_forward</i>
    </button>
  </div>
  <div class="menu__range__wrapper">
  <input type="range" min="6" max="14" step="1" (change)="changeSize(rangeValue)" [(ngModel)]="rangeValue">
  </div>
  <div class="menu__icons__container" *ngIf="(selectedPage$ | async).path === '/search' && serverOnline">
    <i class="material-icons menu__favorite__icon" (click)="toggleSidenav()" [ngClass]="{ 'menu__favorite__icon--selected': showSidenav$ | async, 'menu__favorite__icon--alerting': favoritesRecipes.length > 0 }">favorite_border</i>
  </div>
</nav>
