<nav class="primary-menu">
  <ul class="menu__list">
    <li class="menu__item" *ngFor="let page of menuPages"
        (click)="changePage(page)" [ngClass]="{ 'menu__item--selected': selectedPage === page }"
        [routerLink]="[page.url]"
    >
    {{ page.title }}
    </li>
  </ul>
  <div class="menu__search__container" *ngIf="selectedPage.title ===  'Search'">
    <input [formControl]="searchForm" type="search" class="menu__search__input" placeholder="Start searching recipe here..." (keydown)="initSearchOnEnter($event)" />
    <button class="menu__search__button" (click)="search()">
      <i class="material-icons menu__search__icon">arrow_forward</i>
    </button>
  </div>
  <div class="menu__icons__container">
    <i class="material-icons menu__favorite__icon" (click)="toggleSidenav()" [ngClass]="{ 'menu__favorite__icon--selected': sidebarVisibe }">favorite_border</i>
  </div>
</nav>
