.sidebar__container {
	position: absolute;
	z-index: 3;
	top: 0;
	right: 0;
	height: 100%;
	width: 0em;
	background: rgba(255, 255, 255, 0.95);
	border-left: 0px solid #000;
	transition: all 0.2s ease-in-out;
}

.sidebar__container--visible{
	width: 35em;
	border-left: 2px solid rgba(0, 0, 0, 0.1);
}

.sidebar__content {
	height: calc(100% - 5em);
	overflow: auto;
	margin: 5em 0 0 0;
}

/*------------------ / .favorites-list / -------------------*/
.favorites-list__container--selected {
	background: #fff;
}
.favorites-list__header {
	display: flex;
	align-items: center;
	transition: background 0.2s ease-in-out;
	margin: 0;
}

.favorites-list__header:hover {
	background: rgba(0, 0, 0, 0.01);
}

.favorites-list__container--selected .favorites-list__header {
	background: rgba(0, 0, 0, 0.01);
}

.favorites-list__header:hover .favorites-list__arrow-down__icon, .favorites-list__header:hover .favorites-list__arrow-up__icon  {
	color: #B23400;
}
.favorites-list__header:hover .favorites-list__label {
	color: #B23400;
}

.favorites-list__label {
	font-family: 'Open Sans', sans-serif;
	flex: 1 1 auto;
	font-size: 1.4em;
	padding: 1em 0em;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.5);
	transition: color 0.2s ease-in-out;
	cursor: pointer;
}

.favorites-list__icon__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 0.7em 0 0.6em;
	cursor: pointer;
}

.favorites-list__icon {
	font-size: 2.3em;
	color: rgba(0, 0, 0, 0.3);
}

.favorites-list__arrow-down__icon {
	margin: 0.1em 0 0 0;
	transition: color 0.2s ease-in-out;
}

.favorites-list__arrow-up__icon {
	transition: color 0.2s ease-in-out;
	display: none;
	margin: 0 0 0.1em 0;
}

.favorites-list__close__icon {
	font-size: 1.2em;
	padding: 0.2em;
	transition: all 0.4s ease-in-out;
	border-radius: 10px;
}

.favorites-list__close__icon:hover {
	background: rgba(0, 0, 0, 0.1);
	color: #fff;
}

.favorites-list__container--selected .favorites-list__label {
	color: #B23400;
}

.favorites-list__container--selected .favorites-list__header {
	/*background: #fff;*/
}

.favorites-list__container--selected .favorites-list__arrow-down__icon {
	display: none;
}

.favorites-list__container--selected .favorites-list__arrow-up__icon {
	display: block;
}

/*.favorites-list__content / -------------------*/

.favorites-list__content {
	border-top: 2px solid rgba(0, 0, 0, 0.1);
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	display: none;
}

.favorites-list__container.favorites-list__container--selected .favorites-list__content {
	display: block;
}

.favorites-list__content-box {
	border-top: 2px solid rgba(0, 0, 0, 0.1);
	padding: 0.8em 1.5em;
}

.favorites-list__subtitle {
	margin: 0.6em 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
	color: rgba(0, 0, 0, 0.8);
}

.favorites-list__sublist {
	list-style: disc;
  padding-left: 1.8em;
  margin: 1.2em 0 1.4em 0;
	color: rgba(0, 0, 0, 0.8);
}

.favorites-list__list__item {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
	color: rgba(0, 0, 0, 0.7);
}

.favorites-list__link {
	margin: 0 0 0 0;
	display: block;
}

.favorites-list__image {
	position: relative;
	width: 100%;
	height: 19em;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-position: center;
}

.favorites-list__image__overlay {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.2);
}
