<section class="main-view__background">
  <div class="main-view__container">
    <section class="first-search-text__background" [ngClass]="{ 'first-search-text__background--visible': (recipes$ | async).recipes.length === 0 }">
      <div class="first-search-text__text">
        {{ selectedWelcomeText }}
      </div>
    </section>
    <section class="search-results__container">
      <div class="search-results__item__wrapper" *ngFor="let recipe of (recipes$ | async).recipes; let i = index;" [ngClass]="{'search-results__item__wrapper--selected': selectedRecipe === recipe }" (click)="showRecipeDetails($event, recipe)">
        <div class="search-results__item">
          <div class="search-results__image__wrapper">
            <img class="search-results__image" src="{{ recipe.imgUrl }}"/>
            <div class="search-results__icon__wrapper"
                 *ngIf="serverOnline"
                 (click)="toggleToFaviorites($event, recipe)"
                 [ngClass]="{'search-results__icon__wrapper--favorite': isFavorite(recipe)}"
            >
              <i class="material-icons search-results__icon search-results__icon__favorite-border">favorite_border</i>
              <i class="material-icons search-results__icon search-results__icon__favorite">favorite</i>
            </div>
            <div class="search-results__image__overlay"></div>
          </div>
          <label class="search-results__label"> {{ recipe.label }} </label>
        </div>
        <aside class="search-results__details-box">
          <h5 class="search-results__details-box__title">{{ recipe.label }}</h5>
          <h6 class="search-results__details-box__subtitle"><strong>Calories:</strong>  {{ recipe.calories | number }} </h6>
          <h6 class="search-results__details-box__subtitle"><strong>Ingredients:</strong></h6>
          <ul class="search-results__details-box__list">
            <li class="search-results__details-box__list__item"  *ngFor="let ingredient of recipe.ingredients"> {{ ingredient }}</li>
          </ul>
          <a class="search-results__details-box__link" href="{{ recipe.url }}" target="_blank">{{ recipe.url }}</a>
        </aside>
      </div>
    </section>

  </div>
</section>
