/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans');

/*
font-family: 'Indie Flower', cursive;
font-family: 'Open Sans', sans-serif;
*/


body {
  font-size: 10px;
}
